@media only screen and (max-width: 1024px) {
	.top-line__info {
		width: 60%;
		text-align: right;
	}
	.navigation__logo {
		width: 200px;
	}
	.navigation__menu li a {
		font-size: 16px;
	}
	.inspection {
		padding-bottom: 175px;
	}
	.infographic__thumb {
		-webkit-flex-basis: 50%;
		        flex-basis: 50%;
	}
	.infographic__text {
		-webkit-flex-basis: 50%;
		        flex-basis: 50%;
	}
	.phonecall {
		background-position: 75% 50%;
		&__content {
			width: 80%;
			h4 {
				font-size: 21px;
			}
		}
		&_btn {
			font-size: 16px;
		}
	}
	.navigation__logo {
		position: absolute;
	}
	.our-services__item:after {
		content: none;
	}
	.our-advantages__item p {
		font-size: 14px;
	}
	.contacts-banner {
		height: auto;
	}
	.contacts-banner_arrow {
		display: none;
	}
	.blog__flex {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.blog__all {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    width: 100%;
	}
	.blog__newest {
		margin-top: 25px;
		width: 100%;
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	}
	.breadscrubs {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}

@media only screen and (max-width: 980px) {
	.top-line__nav {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.phonecall__content {
		width: 75%;
	}
	.phonecall__content h4 {
		text-align: center;
		
	}
	.phonecall_btn {
		margin: 15px 0;
	}
	.whyweare__item_icon {
		-webkit-flex-basis: 40%;
		        flex-basis: 40%;
	}
	.whyweare__item_text {
		margin-right: 25px;
		-webkit-flex-basis: 58%;
		        flex-basis: 58%;
	}
	.whyweare__item {
		-webkit-align-items: center;
		        align-items: center;
	}
	.infographic__text, .infographic__thumb {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	}
	.infographic__thumb {
		text-align: center;
	}
	.inspection_inp {
		width: 80%;
		margin: 15px auto;
		display: block;
	}
	.inspection_btn {
		width: 50%;
		margin: 15px auto;
		display: block;
	}
	.inspection h2 {
		text-align: center;
	}
	.banner__item_description {
		width: 100%;
		margin: 15px auto;
		text-align: center;
	}
	.banner_btn {
		display: inline-block;
		float: none;
	}
	.banner__item_img {
		width: 100%;
		margin: 15px auto;
	}
	.top-line__info {
	    width: 100%;
	    text-align: center;
	}
	.navigation{
		&__logo {
			width: 175px;
		}
		>ul {
			padding: 0;
		}
	}
	.whyweare__attention h3 span {
		font-size: 34px;
	}
	.navigation__toggle {
		display: block;
		margin-right: 15px;
	}	

	.js_mobile_nav {
		display: none;
		width: 100%;
		text-align: left;
	}
	.navigation>ul .js_mobile_nav>li {
		display: block;
		width: 100%;
		border: none;
		padding: 10px 0;
		&>ul {
			position: relative;
			margin-top: 0;
			padding: 0;
			li {
				display: block;
				border: none;
				padding: 10px 0;
				a {
					padding: 0;
				}
			}
		}
	}
	.all-services__item {
		padding: 0 25px;
	}
	.our-advantages__center_image {
		width: 50%;
		margin: 0 auto;
		float: none;
		img {
			margin-bottom: 0;
		}
	}
	.our-advantages__textwrap {
		width: 100%;
		&_left, &_right {
			text-align: center;
		}
	}
	.all-services {
		padding-top: 50px;
	}
	.seo-advantages_ribbon {
		right: -62px;
	}
	.contacts-content__form_shortbox {
		width: 100%;
	}
	.contacts-content__form_inp {
		margin: 0 0 15px;
		width: 100%;
	}
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	.whyweare__item_text {
		padding: 0;
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    &:nth-of-type(odd) {
	    	padding: 0;
	    }
	}
	.whyweare__item_icon {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    padding: 0;
	    text-align: center;
	    margin: 10px 0;
	     &:nth-of-type(odd) {
	    	padding: 0;
	    	float: right;
	    }
	}
	.whyweare__item {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.phonecall__content {
		width: 100%;
		text-align: center;
	}
	.phonecall_btn {
		display: block;
	}
	.phonecall__content h4 {
		display: block;
		b {
			display: block;
			margin: 0;
		}
	}
	.banner__item_img img {
		width: 100%;
	}
	.banner__item_description h3 {
		font-size: 24px;
	}
	.banner_btn {
		margin: 10px 0;
	}
	.inspection h2 {
		font-size: 28px;
	}
	.whyweare h2 {
		font-size: 30px;
	}
	.whyweare__attention h3 span {
		display: block;
	}
	.phonecall {
		background-position: 50% 50%;
	}
	.partners__flex {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.partners__item {
		width: 100%;
	}
	.partners h2 {
		font-size: 24px;
	}
	.footer__contact {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    text-align: center;
	}
	.footer__flex {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.footer__logo {
		margin: 10px 0;
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    text-align: center;
	    img {
	    	width: 80%;
	    }
	}
	.home-blog__flex {
		width: 100%;
		-webkit-justify-content: center;
		        justify-content: center;
	}
	.infographic__text, .infographic__thumb {
		padding: 0;
	}
	.whyweare__item_text h4 {
		font-size: 18px;
	}
	.navigation {
		padding: 15px 0;
	}

	.all-services__flex, .our-services__flex {
		width: 100%;
		-webkit-justify-content: center;
		        justify-content: center;
	}
	.all-services__item {
		padding: 0;
		-webkit-flex-basis: 80%;
		        flex-basis: 80%;
	}
	.our-advantages h2 {
		font-size: 28px;
	}
	.seo-forwhat_text {
		width: 100%;
	}
	.seo-forwhat_quote {
		padding-right: 0;
	}
	.seo-forwhat_thumb {
		width: 100%;
	}
	.seo-advantages_ribbon {
		display: none;
	}
	.seo-advantages__item,.seo-complex__item, .seo-freeaudit__form {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-justify-content: center;
	            justify-content: center;
	    width: 100%;
	}
	.seo-bid{
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	    
		&__form {
			-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		    -webkit-justify-content: center;
		            justify-content: center;
		    width: 100%;
		    &_input {
		    	width: 100%;
		    	-webkit-flex-basis: 100%;
		    	        flex-basis: 100%;
		    }
		}
	}
	.seo-price__item {
		-webkit-flex-basis: 100%;
		        flex-basis: 100%;
	    width: 100%;
	    &_img {
	    	width: 100%;
	    }
	    h4 {
	    	font-size: 18px;
	    	span {
	    		font-size: 22px;
	    	}
	    }
	}
	.seo-complex__item_text,.seo-advantages__item_text {
		padding-left: 0;
	}
	.seo-advantages__item_text {
		text-align: center;
	}

	.contacts-content__info, .contacts-content__form {
		width: 100%;
	}
	.contacts-content__info {
		padding-right: 0;
	}
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	.top-line__nav ul {
		margin: 0;
		li a {
			padding: 0 10px;
		}		
	}
	.banner__item_description h3 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.banner__item_description p {
		margin: 10px 0;
		font-size: 14px;
	}
}