.navigation {
	float: left;
	width: 100%;
	color: #fff #333;
	padding: 30px 0;
	&__logo {
		float: left;
	}
	&__menu {
		float: right;
		margin: 5px 0;
		li {
			display: inline-block;
			a {
				display: block;
				color: #FFF;
				font-size: 18px;
				font-family: $sb;
				border-left: 1px dotted #858585;
				padding: 0 10px 5px;
				position: relative;
				@include transition(.4s);
				@include link {
					color: #279BFE;
				}
				
			}
			&:first-child{
				a {
					padding-left: 0;
					border-left: none;
				}
				
			}
		}
	}
}