.banner {
	float: left;
	width: 100%;
	&__item {
		padding: 50px 0;
		display: flex;
	    height: 100%;
	    box-sizing: border-box;
	    align-items: flex-start;
		&_description {
			float: left;
			width: 50%;
			h3 {
				font-family: $b;
				text: #fff 34px uppercase;
				margin-bottom: 15px;
				margin-top: 0;
			}
			p {
				text: #fff 18px;
				margin-bottom: 25px;
			}
		}
		&_img {
			float: left;
			width: 50%;
			img {
				display: block;
				margin: 0 auto;
				max-height: 330px;

			}
		}
	}
	&_btn {
		display: block;
		float: left;
		text-align: center;
		line-height: 40px;
		font-family: $b;
		text: #fff 20px;
		width: 220px;
		height: 48px;
		margin-right: 15px;
		@include border-radius(3px / 5px 5px 5px 5px);
		border: 1px solid #fff;
		@include transition(.4s);
		position: relative;
	}
	&_services {
		background-color: #ff6900;
		@include link {
			background-color: darken(#FF6900, 10%);
		}
	}
	&_order {
		background-color: #a1c527;	
		@include link {
			background-color: darken(#a1c527, 10%);
		}
	}
}

.inspection {
	float: left;
	width: 100%;
	position: relative;
	padding: 45px 0;
	.container {
		position: static;
	}
	&_image {
		position: absolute;
		right: 0;
		bottom: -20px;
	}
	h2 {
		font-family: $bl;
		text: #12304e uppercase 34px;
		margin: 5px 0;
	}
	&_inp {
		width: 193px;
		height: 43px;		
		@include border-radius(6px);
		background-color: #fff;
		border: 2px solid #bdbdbd;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 15px;
		font-size: 18px;
		&:focus {
			border: 2px solid #139fdd;
			outline: none;
		}
	}
	&_btn {

		width: 144px;
		height: 46px;
		@include border-radius(4px);
		@include background-clip(padding-box);
		background-color: #a1c527;
		border: none;
		color: #fff;		
		font-size: 16px;
		font-weight: bold;
		@include text-shadow(2px 1px 1px rgba(0,0,0,.35));
		outline: none;
		border: 2px solid transparent;
		@include transition(.4s);
		position: relative;
		cursor: pointer;
		@include link {
			background-color: darken(#A1C527,10%);
		}
	}
}

.infographic {
	float: left;
	width: 100%;
	background-image: url("../img/background.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 50px 0;
	color: #FFF;
	
	&__flex {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	h1 {
		text: center uppercase 28px;
		flex-basis: 100%;
		span {
			color: #279BFE;
		}
	}
	&__thumb {
	    flex: 1 0 60%;
	    img {
	    	max-width: 100%;
	    }
	}
	&__text {
		flex: 1 0 40%;
		padding-left: 30px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		
		text-align: center;
		p {
			margin: 0;
			font-size: 16px;
			text-align: left;
			text-indent: 15px;
		}
		&_btn {
			display: inline-block;
			margin: 30px 0;
			@include border-radius(3px / 5px 5px 5px 5px);
			@include background-clip(padding-box);
			background-color: #a1c527;
			padding: 10px 25px;
			color: #fff;
			font-size: 19px;
			font-weight: bold;
			@include text-shadow(2px 1px 2px rgba(0,0,0,.42));
			@include transition(.4s);
			@include link {
				background-color: darken(#a1c527, 10%);
			}
		}
	}
}

.whyweare {
	float: left;
	width: 100%;
	h2 {
		font-family: $b;
		text: #282828 center 48px;
		margin-bottom: 10px;
	}
	p {
		font-family: $m;
		text: #282828 center 17px 1.2;
		margin: 0;
	}
	&__attention {
		float: left;
		width: 100%;
		margin: 65px auto 15px;
		text-align: center;
		p {
			text: #279bfe center 17px 1.2;
		}
		h3 {
			padding-top: 15px;			
			span {
				color: #FFF #2899f3;
				padding: 15px 20px;				
				font-size: 39px;
				font-weight: bold;
				@include text-shadow(2px 1px 2px rgba(0,0,0,.42));
			}
		}
	}
	&__flex {
		display: flex;
		width: 100%;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		    -webkit-flex-wrap: wrap;
		        -ms-flex-wrap: wrap;
		            flex-wrap: wrap;
		    -webkit-align-items: center;
		            align-items: center;
	}
	&__item {
		display: flex;
		color: #282828;
		margin: 25px 0;
		&_text {
			-webkit-flex: 1 0 70%;
			    -ms-flex: 1 0 70%;
			        flex: 1 0 70%;
		    -webkit-box-sizing: border-box;
		       -moz-box-sizing: border-box;
		            box-sizing: border-box;
		    h4 {
		    	font-family: $b;
		    	text: 24px; 
		    	margin-top: 0;
		    }
		    p {
		    	font-size: 18px;
		    	text-align: left;
		    }
		   	&:nth-of-type(odd) {
		   		padding-right: 75px;
		   	}		    
		}
		&_icon {
			flex: 1 0 20%;
			-webkit-box-sizing: border-box;
		       -moz-box-sizing: border-box;
		            box-sizing: border-box;
			    img {
			    	max-width: 100%;
			    }
			&:nth-of-type(odd) {
		   		padding-right: 75px;
		   	}
		}
	}
}

.phonecall {
	float: left;
	width: 100%;
	padding: 50px 0 100px;
	background-image: url('../img/background2.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0%;
	&__content {
		width: 75%;
		text-align: right;
		color: #282828;
		h2 {
			font-family: $b;
			text: uppercase 35px;
			margin-top: 0;
		}
		p {
			font-size: 20px;
		}
		h4 {
			font-size: 24px;
			b {
				font-family: $bl;
				font-size: 30px;
				margin-right: 25px;
			}
		}
	}
	&_btn {
		display: inline-block;
		padding: 10px 30px;
		@include border-radius(4px / 5px 5px 5px 5px);
		@include background-clip(padding-box);
		background-color: #2799f3;
		color: #fff;
		font-size: 19px;
		font-weight: bold;
		@include text-shadow(2px 1px 2px rgba(0,0,0,.42));
		vertical-align: bottom;
		@include transition(.4s);
		margin-left: 25px;
		@include link {
			background-color: darken(#2899F3, 10%);
		}
	}
}

.home-blog {
	float: left;
	width: 100%;
	padding: 50px 0;
	h3 {
		font-family: $bl;
		text: uppercase 24px;
	}
	&_all {
		text: #279bfe italic 20px;
		vertical-align: baseline;
		float: right;
		@include transition(.4s);
		@include link {
			color: darken(#279BFE, 15%);
		}
	}
	&__flex {
		display: flex;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	&__item {
		margin: 25px 0;
		width: 300px;
		&_thumb {
			width: 100%;
			height: 175px;
			@include overflow-img;
			
		}
		h5 {
			font-family: $b;
			text: #3a3a3a 14px; 
		}
		p {
			text: #3a3a3a 13px;
		}
		&_open {
			text: #a6a6a6 30px;
		}
	}
	&_date {
		float: right;
		width: 100%;
		text-align: right;
		margin: 15px 0;
		text: #b4b4b4 10px;
	}
}

.partners {
	float: left;
	width: 100%;
	padding: 50px 0;
	h2 {
		font-family: $b;
		text: #151515 uppercase center 30px;
	}
	&__flex {
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
	}
	&__item {
		width: 225px;
		margin: 20px 25px;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}

.sitemap {
	width: 100%;
	float: left;
	background-color: #282828;
	padding: 20px 0;	
	&__flex {
		display: flex;
		-webkit-justify-content: space-between;
	        justify-content: space-between;
		-webkit-align-items: flex-start;
	        align-items: flex-start;
    	flex-flow: row wrap;
	}
	&__item {
		padding: 0;
		&_section {
			font-family: $b;
			color: #fff;
		}
		li {
			a {
				text: #d3d2d2 15px;
				@include link {
					text-decoration: underline;
				}
			}
		}
	}
}

.contact-info {
	@extend .sitemap;
	width: 50%;
	color: #FFF;
	text-align: left;
	padding: 0;
	h3 {
		margin: 5px 0;
		font-family: $r;
		font-size: 22px;
		font-weight: 400;
		a {
			text: #fff;
			@include transition(.2s);
			&:hover, &:focus {
				color: #279BFE;
			}
		}
	}
	&_link {
		margin-top: 15px;
		display: block;
		text: #279bfe 22px normal;
		@include transition(.4s);
		@include link {
			color: darken(#279BFE,10%);
		}
	}
}