.seo {
	&-forwhat {
		float: left;
		width: 100%;
		&_text {
			width: 65%;
			float: left;
		}
		&_thumb {
			width: 35%;
			float: left;			
			img {
				width: 100%;
			}
		}
		h3 {
			font-family: $bl;
			font-size: 24px;
			span {
				color: #0088CF;
			}
		}
		h4 {
			font-size: 18px;
			font-family: $sb;
			float: left;
			width: 100%;
			font-size: 18px;
			line-height: 1.5;
			span {
				color: #FFF;
				background-color: #0088CF;
				padding: 5px;
			}
		}
		h5 {
			float: left;
			font-family: $sb;
			width: 100%;
			font-size: 18px;
			line-height: 1.5;
			span {
				color: #FFF;
				background-color: #0088CF;
				padding: 5px;
			}
		}
		&_quote {
			float: left;
			width: 100%;
			position: relative;
			font-family: $l;
			font-style: italic;
			margin: 0;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 0 40px;
			margin: 15px 0;
			&:before {
				content: "";
				size: 22px 33px;
				position: absolute;
				background-image: url('../img/quotes.png');
				background-repeat: no-repeat;
				left: 0;
				top: -10px;
			}
		}
	}
}