.icon {
	display: block;
	size: 30px 30px;
	position: absolute;
	top: -25px;
	margin: 0 5px; 
	background-position: 50% 0;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-repeat: no-repeat;
	&_buisenes {
		background-image: url('../img/business-1.png');
	}
	&_money {
		background-image: url('../img/money.png');
	}
	&_hands {
		background-image: url('../img/hands.png');
	}
	&_smile {
		background-image: url('../img/square.png');
	}
}